body {
    font-family: 'Roboto', Arial, sans-serif;
    display: flex;
    flex-direction: column;
}
/*add content, sort out style.css, its in chaos*/
.header, .content-01 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header, .content-01, .content-02, .content-03, .content-04, .footer {
    padding-inline: min(250px, 15vw);
}
.content-01, .content-02, .content-03 {
    height: min(1000px, 60vh);
}

.content-03 {
    height: min(875px, 52.5vh);
}

.content-04 {
    height: min(700px, 42vh);
}

.content-01 .left, .content-01 .right {
    width: 50%;
}

.header {
    padding-block: 20px;
}

.footer {
    padding-block: 40px;
}

.header-links {
    display: flex;
    gap: 20px;
}

.content-02  {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.image-boxes-container {
    display: flex;
    gap: 2em;
}

.image-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-boxes img {
    height: 200px;
    width: 200px;
    border: 3px solid #3882F6;
    border-radius: 16px;
}

.footer, .content-03, .content-04 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.product {
    display: flex;
    align-items: center;
    height: min(100%, 13em);
}

.product-text {
    color: #E5E7EB;
    flex: 3 1;
}

.header, .content-01, .footer {
    background-color: #1F2937;
    color: #E5E7EB;
}

.quote-author {
    font-weight: 900;
}

.opening-text, a {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: inherit;
}

.logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.content-04 {
    padding-top: 80px;
    padding-bottom: 80px;
}

button, .product {
    background-color: #3882F6;
    color: #F9FAF8;
}

.sign-up, .product-sign-up {
    padding: 8px 28px;
    border-radius: 8px;
    font-weight: 900;
    font-size: 16px;
}

.sign-up {
    border: none;
    margin-top: 12px;
}

.product {
    border-radius: 8px;
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.product-sign-up {
    border: 2px solid #F9FAF8;
    flex: 1;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-block: 0.1em;
}

h2 {
    font-size: 36px;
    color:#1F2937;
    font-weight: 900;
    margin-block: 0.1em;
}

.content-03 {
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    color:#1F2937;
    font-style: italic;
    font-weight: lighter;
}