body {
    font-family: 'Roboto', Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.header, .content-01, .content-02, .content-03, .content-04, .footer {
    padding-inline: min(250px, 15vw);
    min-width: 800px;
}

.header {
    padding-top: 20px;
}

.header, .content-01 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header, .content-01, .footer {
    background-color: #1F2937;
    color: #E5E7EB;
}

.logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    gap: 20px;
}

.header-links a {
    text-decoration: none;
    color: inherit;
}

.content-01, .content-02 {
    height: min(1000px, 60vh);
    min-height: 400px;
}

.content-01 .left, .content-01 .right {
    width: 50%;
}

.content-01 .right {
    flex: 1;
    display: flex;
    justify-content: end;
}

.content-01 .right img {
    flex: 1 1 0;
    max-width: 600px; 
    width: 100%;
    height: auto;
    
}

.content-01 h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-block: 0.1em;
}

.opening-text, a {
    font-size: 18px;
}

button, .product {
    background-color: #3882F6;
    color: #F9FAF8;
}

.sign-up, .product-sign-up {
    padding: 8px 28px;
    border-radius: 8px;
    font-weight: 900;
    font-size: 16px;
}

.sign-up {
    border: none;
    margin-top: 12px;
}

.content-02  {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.content-02 h2 {
    font-size: 36px;
    color:#1F2937;
    font-weight: 900;
    margin-block: 0.1em;
}

.spacing {
    display: flex;
    justify-content: center;
}

.image-boxes-container {
    display: flex;
    justify-content: center;
    gap: min(70px, 6%);
}

.image-boxes {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 240px;
}

.image-boxes img {
    flex: 1 1;
    width: 100%;
    height: 100%;
    max-height: 240px;
    max-width: 240px;
    border: 3px solid #3882F6;
    border-radius: 16px;
}

.image-boxes p {
    flex: 1 1;
}

.footer, .content-03, .content-04 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-03 {
    height: min(875px, 52.5vh);
    min-height: 280px;
    background-color: #E5E7EB;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.quote-text {
    font-size: 36px;
    color:#1F2937;
    font-style: italic;
    font-weight: 100;
    margin-inline: 10%;
}

.quote-author {
    margin-top: 8px;
    font-weight: 900;
    font-size: 24px;
}

.content-04 {
    height: min(700px, 42vh);
    min-height: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.product {
    display: flex;
    align-items: center;
    height: min(100%, 13em);
    border-radius: 8px;
    flex: 1;
    justify-content: space-around;
}

.product-sign-up {
    border: 2px solid #F9FAF8;
    flex: 1;
}

.product-header {
    font-size: 24px;
    font-weight: bold   ;
}

.product-text {
    color: #E5E7EB;
    font-size: 18px;
}

.footer {
    padding-block: 40px;
}